.elementor-57298 .elementor-element.elementor-element-6d365c98:not(.elementor-motion-effects-element-type-background),
.elementor-57298 .elementor-element.elementor-element-6d365c98>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-57298 .elementor-element.elementor-element-6d365c98 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #E7E7E7;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0% 5% 0% 5%;
    z-index: 999;
}

.elementor-57298 .elementor-element.elementor-element-6d365c98>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-57298 .elementor-element.elementor-element-48560b8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-48560b8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-48560b8>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-57298 .elementor-element.elementor-element-6c738b8a {
    text-align: left;
}

.elementor-57298 .elementor-element.elementor-element-6c738b8a img {
    width: 76px;
}

.elementor-bc-flex-widget .elementor-57298 .elementor-element.elementor-element-138b14b7.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-138b14b7.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-138b14b7>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-57298 .elementor-element.elementor-element-138b14b7>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-57298 .elementor-element.elementor-element-1579635c.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-1579635c.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-menu-toggle {
    margin-left: auto;
    background-color: #FFFFFF;
    font-size: 20px;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu .elementor-item {
    font-family: "Gellix", Sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main .elementor-item {
    color: #000000;
    fill: #000000;
    padding-left: 12px;
    padding-right: 12px;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main .elementor-item:hover,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main .elementor-item:focus {
    color: #000000;
    fill: #000000;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #020202;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 5px / 2);
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 5px;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-menu-toggle {
    color: #000000;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown {
    background-color: #FFFFFF;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a:hover,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a.highlighted,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-menu-toggle:hover {
    color: #9E9E9E;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a:hover,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a.highlighted {
    background-color: #FFFFFF;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #9E9E9E;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown li:not(:last-child) {
    border-style: solid;
    border-color: #E0E0E0;
    border-bottom-width: 1px;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 div.elementor-menu-toggle {
    color: #000000;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 div.elementor-menu-toggle svg {
    fill: #000000;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 div.elementor-menu-toggle:hover {
    color: #000000;
}

.elementor-57298 .elementor-element.elementor-element-46f42452 div.elementor-menu-toggle:hover svg {
    fill: #000000;
}

.elementor-bc-flex-widget .elementor-57298 .elementor-element.elementor-element-6e053239.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-6e053239.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-57298 .elementor-element.elementor-element-6e053239.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-57298 .elementor-element.elementor-element-461cb82e .elementor-nav-menu--main .elementor-item:hover,
.elementor-57298 .elementor-element.elementor-element-461cb82e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-57298 .elementor-element.elementor-element-461cb82e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-57298 .elementor-element.elementor-element-461cb82e .elementor-nav-menu--main .elementor-item:focus {
    color: #000000;
    fill: #000000;
}

.elementor-57298 .elementor-element.elementor-element-461cb82e>.elementor-widget-container {
    margin: 0px 5px 0px 0px;
}

.elementor-57298 .elementor-element.elementor-element-461cb82e {
    width: auto;
    max-width: auto;
}

.elementor-57298 .elementor-element.elementor-element-5d37306 .elementor-button {
    font-family: "Gellix", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    fill: #000000;
    color: #000000;
    background-color: #4EB2E4;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-primary);
    border-radius: 20px 20px 20px 20px;
}

.elementor-57298 .elementor-element.elementor-element-5d37306 .elementor-button:hover,
.elementor-57298 .elementor-element.elementor-element-5d37306 .elementor-button:focus {
    background-color: var( --e-global-color-secondary);
    border-color: #000000;
}

.elementor-57298 .elementor-element.elementor-element-5d37306 {
    width: auto;
    max-width: auto;
}

@media(max-width:1024px) {
    .elementor-57298 .elementor-element.elementor-element-6d365c98 {
        border-width: 0px 0px 0px 0px;
    }
    .elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu .elementor-item {
        font-size: 14px;
    }
    .elementor-57298 .elementor-element.elementor-element-46f42452 {
        --e-nav-menu-horizontal-menu-item-margin: calc( 0px / 2);
    }
    .elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
        margin-bottom: 0px;
    }
}

@media(max-width:767px) {
    .elementor-57298 .elementor-element.elementor-element-6d365c98 {
        border-width: 0px 0px 1px 0px;
        z-index: 999;
    }
    .elementor-57298 .elementor-element.elementor-element-48560b8 {
        width: 25%;
    }
    .elementor-57298 .elementor-element.elementor-element-138b14b7 {
        width: 70%;
    }
    .elementor-57298 .elementor-element.elementor-element-1579635c {
        width: 5%;
    }
    .elementor-57298 .elementor-element.elementor-element-46f42452 .elementor-nav-menu--dropdown a {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .elementor-57298 .elementor-element.elementor-element-46f42452 {
        z-index: 999;
    }
    .elementor-57298 .elementor-element.elementor-element-6e053239 {
        width: 95%;
    }
    .elementor-57298 .elementor-element.elementor-element-5d37306 .elementor-button {
        font-size: 12px;
    }
    .elementor-57298 .elementor-element.elementor-element-5d37306>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width:768px) {
    .elementor-57298 .elementor-element.elementor-element-48560b8 {
        width: 7%;
    }
    .elementor-57298 .elementor-element.elementor-element-138b14b7 {
        width: 93%;
    }
    .elementor-57298 .elementor-element.elementor-element-1579635c {
        width: 76.983%;
    }
    .elementor-57298 .elementor-element.elementor-element-6e053239 {
        width: 23.017%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-57298 .elementor-element.elementor-element-48560b8 {
        width: 20%;
    }
    .elementor-57298 .elementor-element.elementor-element-138b14b7 {
        width: 80%;
    }
    .elementor-57298 .elementor-element.elementor-element-1579635c {
        width: 10%;
    }
    .elementor-57298 .elementor-element.elementor-element-6e053239 {
        width: 90%;
    }
}

/* Start custom CSS for column, class: .elementor-element-6e053239 */

.elementor-57298 .elementor-element.elementor-element-6e053239 a {
    padding: 10px 10px;
}

/* End custom CSS */

/* Start custom CSS for section, class: .elementor-element-6d365c98 */

.elementor-57298 .elementor-element.elementor-element-6d365c98 {
    z-index: 999;
}

/* End custom CSS */