.elementor-20 .elementor-element.elementor-element-91b2e7f:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-91b2e7f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #A8E2D3;
}

.elementor-20 .elementor-element.elementor-element-91b2e7f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 35px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-91b2e7f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-1237838 {
    text-align: left;
}

.elementor-20 .elementor-element.elementor-element-1237838>.elementor-widget-container {
    margin: 13px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-4f4e818 {
    font-family: "Gellix", Sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.elementor-20 .elementor-element.elementor-element-8469d9d:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-8469d9d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #A8E2D3;
}

.elementor-20 .elementor-element.elementor-element-8469d9d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-20 .elementor-element.elementor-element-8469d9d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu .elementor-item {
    font-family: "Gellix", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}

.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main .elementor-item:hover,
.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main .elementor-item:focus {
    color: #000000;
    fill: #000000;
}

.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #000000;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed .elementor-item:after {
    border-color: #000000;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed .elementor-item:before {
    border-width: 0px;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 0px 0px 0 0;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 0px 0 0 0px;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 0px 0px 0;
}

.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-underline .elementor-item:after,
.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-overline .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-double-line .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-9db610e .e--pointer-double-line .elementor-item:after {
    height: 0px;
}

.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main .elementor-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-9db610e {
    --e-nav-menu-horizontal-menu-item-margin: calc( 10px / 2);
}

.elementor-20 .elementor-element.elementor-element-9db610e .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu .elementor-item {
    font-family: "Gellix", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}

.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main .elementor-item:hover,
.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main .elementor-item:focus {
    color: #000000;
    fill: #000000;
}

.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #000000;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed .elementor-item:after {
    border-color: #000000;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed .elementor-item:before {
    border-width: 0px;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 0px 0px 0 0;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 0px 0 0 0px;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 0px 0px 0;
}

.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-underline .elementor-item:after,
.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-overline .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-double-line .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-7382261 .e--pointer-double-line .elementor-item:after {
    height: 0px;
}

.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main .elementor-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-7382261 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 10px / 2);
}

.elementor-20 .elementor-element.elementor-element-7382261 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu .elementor-item {
    font-family: "Gellix", Sans-serif;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main .elementor-item:hover,
.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main .elementor-item:focus {
    color: #000000;
    fill: #000000;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #000000;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed .elementor-item:after {
    border-color: #000000;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed .elementor-item:before {
    border-width: 0px;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 0px 0px 0 0;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 0px 0 0 0px;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 0px 0px 0;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-underline .elementor-item:after,
.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-overline .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-double-line .elementor-item:before,
.elementor-20 .elementor-element.elementor-element-c7fb990 .e--pointer-double-line .elementor-item:after {
    height: 0px;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main .elementor-item {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-20 .elementor-element.elementor-element-c7fb990 {
    --e-nav-menu-horizontal-menu-item-margin: calc( 10px / 2);
}

.elementor-20 .elementor-element.elementor-element-c7fb990 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 10px;
}

.elementor-20 .elementor-element.elementor-element-48c159c>.elementor-element-populated {
    margin: -58px 0px 0px 100px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 100px;
}

.elementor-20 .elementor-element.elementor-element-db038ac {
    color: var( --e-global-color-d3536bf);
    font-family: "Gellix", Sans-serif;
    font-size: 21px;
    font-weight: 600;
}

.elementor-20 .elementor-element.elementor-element-db038ac>.elementor-widget-container {
    margin: 0px 0px -20px 0px;
}

.elementor-20 .elementor-element.elementor-element-fd5bb41 {
    font-family: "Gellix", Sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.elementor-20 .elementor-element.elementor-element-fd5bb41>.elementor-widget-container {
    margin: -11px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-c744862:not(.elementor-motion-effects-element-type-background),
.elementor-20 .elementor-element.elementor-element-c744862>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #A8E2D3;
}

.elementor-20 .elementor-element.elementor-element-c744862 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 35px 0px;
}

.elementor-20 .elementor-element.elementor-element-c744862>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-79bc291.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-20 .elementor-element.elementor-element-79bc291.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-20 .elementor-element.elementor-element-79bc291>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-3d0bec2.elementor-column .elementor-column-wrap {
    align-items: flex-end;
}

.elementor-20 .elementor-element.elementor-element-3d0bec2.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: flex-end;
    align-items: flex-end;
}

.elementor-20 .elementor-element.elementor-element-e7f5223 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-20 .elementor-element.elementor-element-e7f5223 .elementor-icon {
    font-size: 32px;
}

.elementor-20 .elementor-element.elementor-element-e7f5223 .elementor-icon i,
.elementor-20 .elementor-element.elementor-element-e7f5223 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-20 .elementor-element.elementor-element-e7f5223>.elementor-widget-container {
    margin: 0px 10px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-e7f5223 {
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-644b6be .elementor-icon-wrapper {
    text-align: center;
}

.elementor-20 .elementor-element.elementor-element-644b6be .elementor-icon {
    font-size: 32px;
}

.elementor-20 .elementor-element.elementor-element-644b6be .elementor-icon i,
.elementor-20 .elementor-element.elementor-element-644b6be .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-20 .elementor-element.elementor-element-644b6be>.elementor-widget-container {
    margin: 0px 5px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-644b6be {
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-d60cdbc {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-d60cdbc>.elementor-widget-container {
    margin: 0px 10px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-230d6db>.elementor-widget-container {
    margin: 0px 0px 0px 7px;
}

.elementor-20 .elementor-element.elementor-element-230d6db {
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-e592fb0 {
    margin-top: 13px;
    margin-bottom: 0px;
}

.elementor-bc-flex-widget .elementor-20 .elementor-element.elementor-element-bb676f8.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-bb676f8.elementor-column.elementor-element[data-element_type="column"]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-20 .elementor-element.elementor-element-ed45b76 {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-ed45b76 img {
    width: 100%;
}

.elementor-20 .elementor-element.elementor-element-ed45b76>.elementor-widget-container {
    margin: 0px 10px 0px 0px;
}

.elementor-20 .elementor-element.elementor-element-2a8516f {
    text-align: left;
    width: auto;
    max-width: auto;
}

.elementor-20 .elementor-element.elementor-element-2a8516f img {
    width: 100%;
}

.elementor-20 .elementor-element.elementor-element-b876dc9>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

@media(max-width:767px) {
    .elementor-20 .elementor-element.elementor-element-1237838 {
        text-align: center;
    }
    .elementor-20 .elementor-element.elementor-element-1237838 img {
        width: 289px;
    }
    .elementor-20 .elementor-element.elementor-element-4f4e818 {
        text-align: center;
    }
    .elementor-20 .elementor-element.elementor-element-48c159c>.elementor-element-populated {
        margin: 20px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-20 .elementor-element.elementor-element-3d0bec2.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-20 .elementor-element.elementor-element-bb676f8.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
        justify-content: center;
    }
}

@media(min-width:768px) {
    .elementor-20 .elementor-element.elementor-element-a2365e4 {
        width: 28.583%;
    }
    .elementor-20 .elementor-element.elementor-element-56fecfa {
        width: 21.396%;
    }
    .elementor-20 .elementor-element.elementor-element-b1b1bce {
        width: 14.5%;
    }
    .elementor-20 .elementor-element.elementor-element-b9aea43 {
        width: 15.3333%;
    }
    .elementor-20 .elementor-element.elementor-element-f9763c9 {
        width: 16.9999%;
    }
    .elementor-20 .elementor-element.elementor-element-48c159c {
        width: 53.167%;
    }
}

/* Start custom CSS for html, class: .elementor-element-230d6db */

.elementor-20 .elementor-element.elementor-element-230d6db {
    position: relative;
    top: 5px;
}

/* End custom CSS */

/* Start custom CSS for column, class: .elementor-element-3d0bec2 */

.elementor-20 .elementor-element.elementor-element-3d0bec2 img {
    max-height: 30px !important;
}

.elementor-20 .elementor-element.elementor-element-3d0bec2 a {
    padding: 0px;
    margin: 0px;
}

/* End custom CSS */

/* Start custom CSS for column, class: .elementor-element-bb676f8 */

.elementor-20 .elementor-element.elementor-element-bb676f8 img {
    max-height: 43px;
}

/* End custom CSS */